html, body {
    height: 520px;
    min-width: 285px;
}

.candidate-image {
    width: 100%;
}

.candidate-image-container {
    max-height: 350px;
    overflow: hidden;
}

*:focus {
    outline: 0;
}
