body, html {
    min-width:285px;
    height: 500px;
}

.candidate-image {
    width: 100%;
}

.candidate-image-container {
    max-height: 350px;
    overflow: hidden;
}

*:focus {
    outline: 0;
}
